.skills {
	display: flex;
	flex-wrap: wrap;
	margin-top:40px;

	width: 98%;

	.category {

		margin-right: 30px;
		border-right: var(--content-foreground-light) 1px solid;
		padding-right: 30px;
		padding-bottom: 30px;
		width: 250px;

		&:last-child {
			margin:0;
		}

		.category-name {
			font-size: 1.3em;
			height: 70px;
			margin-bottom: 20px;
			text-align: center;
			display: flex;
			justify-content: center;
			border-bottom: var(--content-foreground-light) 1px solid;
			align-items:center;
		}

		.skill {
			display: flex;
			align-items: center;
			font-size: .9em;

			.icon {
				margin-right: 10px;
				font-size: 2em;
				width: 32px;
			}

			svg {
				width: 22px;
				margin: 0 5px;



			}
		}
	}

}