:root {
	--primary: #373347;
	--secondary: #c0cad2;

	--content-background: #fbfbfb;
	--content-foreground: #515151;
	--content-foreground-light: #969696;
	--content-foreground-header: var(--primary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--content-background: #212528;
		--content-foreground: #fbfbfb;
		--content-foreground-light: #575757;
		--content-foreground-header: #bec9dd;
	}
}
