---
const routes = {
	"/": "Home",
	"/likes/": "Things I like to work with",
};

const currentPath = Astro.url.pathname;
---

{
	Object.entries(routes).map(([path, name], index) => {
		const active = currentPath === path ? "active" : "";
		return (
			<span>
				{index !== 0 && (
					<div aria-hidden="true" class="my-4 font-light opacity-10 ">
						<hr class="border-t-slate-900 dark:border-t-slate-200" />
					</div>
				)}
				<a
					class={`${
						active ? "dark:text-white text-black font-bold border-l-2 border-orange-500 pl-2" : "text-gray-700 dark:text-gray-300 pl-2"
					} my-2 no-underline hover:underline underline-offset-4 transition-all duration-200 block text-left`}
					href={path}>
					> {name}
				</a>
			</span>
		);
	})
}
