---
import { routes } from "../config/routes";

const currentPath = Astro.url.pathname;
---

{
	Object.entries(routes).map(([path, name], index) => {
		const active = currentPath === path ? "active" : "";
		return (
			<span>
				{index !== 0 && (
					<div aria-hidden="true" class="my-4 font-light opacity-10 ">
						<hr class="border-t-slate-900 dark:border-t-slate-200" />
					</div>
				)}
				<a
					class={`${
						active ? "font-bold text-amber-800 dark:text-amber-200 border-l-2 border-amber-800 dark:border-amber-200 pl-2" : "text-amber-700 dark:text-amber-300 hover:text-amber-800 dark:hover:text-amber-200 pl-2"
					} my-2 no-underline hover:underline underline-offset-4 block text-left`}
					href={path}>
					> {name}
				</a>
			</span>
		);
	})
}
