---
import { Image } from "astro:assets";
import head from "../assets/icon.png";
import ContactIcons from "./ContactIcons.astro";
import Navigation from "./Navigation.astro";

const year = new Date().getFullYear();
---

<div class="bg-amber-50 dark:bg-amber-900 w-48 sm:w-60 p-3 flex flex-col h-full">
	<div class="header text-center p-7 flex-shrink">
		<a href="/" class="block mb-3 hover:scale-90 transition-all">
			<Image alt="Pieter's profile" src={head} width="180" height="180" class="profile-pic" />
		</a>
		<span class="uppercase">Pieter Willekens</span>
		<small class="block opacity-60 my-2">● ● ●</small>
		<span class="italic">Dad, developer and drummer.</span>
	</div>

	<div class="border-t-slate-900 dark:border-t-slate-200 border-2 border-x-0 border-b-0 pt-4 pb-4">
		<Navigation />
	</div>

	<div class="flex-1"></div>

	<div class="bottom text-center">
		<h3 class="contact-title flex-shrink">Contact me</h3>

		<ContactIcons />

		<div class="divider my-4">
			<hr class="border-t-slate-900 dark:border-t-slate-200" />
		</div>

		<small class="my-2 block">{year} © Pieter Willekens</small>
		<small>
			<a target="_blank" class="no-decoration opacity-80" href="https://github.com/pataar/pataar.github.io">
				source of this website
			</a>
		</small>
	</div>
</div>

<style>
	@reference "tailwindcss";
	
	.profile-pic {
		border-radius: 50%;
		object-fit: cover;
		object-position: center top;
		border: 6px solid #92400e;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
		aspect-ratio: 1 / 1;
	}
	
	.contact-title {
		font-size: 14px;
		font-weight: 500;
		margin: 0 0 15px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
	}

	.contact-title:after,
	.contact-title:before {
		@apply bg-slate-900 dark:bg-slate-200;
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(50% - 48px);
	}

	.contact-title:after {
		right: 0;
	}
</style>
