---
import "devicon/devicon.min.css";

const { icon } = Astro.props;
---

<div class="skill">
	<div class="icon">
		<slot name="icon" />
		{icon && <i class={`devicon-${icon}`} />}
	</div>
	<div class="label">
		<slot />
	</div>
</div>
<style>
	@reference "tailwindcss";
	.skill {
		align-items: center;
		display: flex;
		font-size: 0.9em;
		@apply my-3 h-10;
	}

	.skill .icon {
		font-size: 2em;
		margin-right: 10px;
		width: 32px;
	}
</style>
