---
import "devicon/devicon.min.css";

const { icon } = Astro.props;
---

<div class="skill">
	<div class="icon">
		<slot name="icon" />
		{icon && <i class={`devicon-${icon}`} />}
	</div>
	<div class="label">
		<slot />
	</div>
</div>
<style>
	@reference "tailwindcss";
	
	.skill {
		@apply flex items-center my-3 h-10;
		font-size: 0.9em;
	}

	.skill:hover {
		transform: translateX(2px);
		opacity: 0.9;
	}

	.skill .icon {
		@apply flex items-center justify-start mr-4 w-8 h-8 flex-shrink-0 pl-1;
		font-size: 1.3em;
	}
	
	.skill .label {
		@apply flex-1;
	}
</style>
