---
import Sidebar from "../components/Sidebar.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-slate-800 font-light h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=512 />
		<meta name=" generator" content={Astro.generator} />
		<title>{title} | Pieter Willekens</title>
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	</head>
	<body class="bg-white dark:bg-slate-800 text-slate-900 dark:text-slate-200 h-full">
		<div class="flex h-full">
			<div>
				<Sidebar />
			</div>
			<div class="flex-1 p-10 h-full overflow-auto">
				<div class="max-w-5xl">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>
<style is:global>
	@import "tailwindcss";

	:root {
		--accent: 180, 83, 9;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #d97706 30%, white 60%);
	}

	* {
		transition:
			color 0.2s ease-out,
			background-color 0.2s ease-out;
	}

	html {
		font-family:
			JetBrains Mono,
			ui-monospace,
			monospace;
		background-color: #f6f6f6;
		font-size: 16px;
	}

	a {
		@apply underline;
	}

	h1 {
		font-size: 2em;
		font-weight: 400;
	}

	h2 {
		font-size: 1.2em;
		font-weight: bold;
		@apply my-4;
	}

	p {
		@apply mb-3;
	}
</style>
